In [1]:
import numpy as np
import pandas as pd
import ast

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies = movies.merge(credits,on='title')

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [17]:
#genres
#id
#keywords
#title
#overview
#cast
#crew

movies=movies[['genres','id','keywords','title','overview','cast','crew']]

In [18]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    4809 non-null   object
 1   id        4809 non-null   int64
 2   keywords  4809 non-null   object
 3   title     4809 non-null   object
 4   overview  4806 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 460.6+ KB

In [19]:
movies.isnull().sum()

genres      0
id          0
keywords    0
title       0
overview    3
cast        0
crew        0
dtype: int64

In [20]:
movies.dropna(inplace=True)

In [21]:
movies.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [22]:
def convert(obj):
    li = []
    for i in ast.literal_eval(obj):
        li.append(i['name'])
    return li

In [23]:
movies['genres'] = movies['genres'].apply(convert)

In [24]:
movies.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [25]:
movies['keywords'] = movies['keywords'].apply(convert)

In [27]:
def convert2(obj):
    li = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 5:
            li.append(i['name'])
            counter+=1
        else:
            break
    return li

In [28]:
movies['cast'] = movies['cast'].apply(convert2)

In [29]:
def convert3(obj):
    li = []
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            li.append(i['name'])
            break
    for i in ast.literal_eval(obj):
        if i['job']=='Producer':
            li.append(i['name'])
            break    
    return li

In [30]:
movies['crew'] = movies['crew'].apply(convert3)

In [35]:
movies.head(2)

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[James Cameron, James Cameron]"
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Gore Verbinski, Jerry Bruckheimer]"

In [36]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [37]:
movies.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[James Cameron, James Cameron]"

In [38]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [39]:
movies.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...","[JamesCameron, JamesCameron]"

In [40]:
movies['tags'] = movies['overview']+movies['cast']+movies['crew']+movies['genres']+movies['keywords']

In [41]:
new_df = movies[['id','title','tags']]

In [42]:
new_df.head()

,id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [43]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

<ipython-input-43-e498c0e361a2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [44]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

<ipython-input-44-db70cfe1859e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

In [45]:
new_df.head()

,id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [56]:
def containsNumber(value):
    for c in value:
        if c.isdigit():
            return True
    return False

In [60]:
not containsNumber('18cen')

False

In [46]:
import nltk

In [47]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [61]:
def stem(text):
    y=[]
    for i in text.split():
        if not containsNumber(i):
            y.append(ps.stem(i))
    return " ".join(y)

In [62]:
new_df['tags']=new_df['tags'].apply(stem)

<ipython-input-62-402dd7cb6b10>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [63]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=10000,stop_words='english')

In [64]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [65]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [66]:
vectors.shape

(4806, 10000)

In [67]:
cv.get_feature_names()

['aaron',
 'aaroneckhart',
 'aaronpaul',
 'aaronryd',
 'aarontaylor',
 'aaronyoo',
 'abandon',
 'abbi',
 'abbiecornish',
 'abduct',
 'abhishekbachchan',
 'abigailbreslin',
 'abil',
 'abl',
 'abo',
 'aboard',
 'abolitionist',
 'aborigin',
 'abort',
 'abov',
 'abram',
 'abroad',
 'abruptli',
 'absenc',
 'absolut',
 'absurd',
 'abu',
 'abuse',
 'academ',
 'academi',
 'academy',
 'accept',
 'access',
 'accid',
 'accident',
 'accidental',
 'acclaim',
 'accompani',
 'accomplish',
 'account',
 'accu',
 'accused',
 'ace',
 'achiev',
 'acid',
 'acquaint',
 'acquir',
 'acr',
 'act',
 'action',
 'actionhero',
 'activ',
 'activist',
 'activities',
 'actor',
 'actress',
 'actual',
 'ad',
 'ada',
 'adam',
 'adambeach',
 'adambrodi',
 'adamcarolla',
 'adamdriv',
 'adamgarcia',
 'adamgoldberg',
 'adammckay',
 'adams',
 'adamsandl',
 'adamscott',
 'adamshankman',
 'adapt',
 'add',
 'addict',
 'addiction',
 'addit',
 'addl',
 'adel',
 'adjust',
 'admir',
 'admit',
 'adolesc',
 'adolf',
 'adolfhitl',
 'adopt',
 'adoptivefath',
 'ador',
 'adrian',
 'adrianlyn',
 'adrienbrodi',
 'adrift',
 'adult',
 'adultanim',
 'adulteri',
 'adulthood',
 'adults',
 'advanc',
 'advantag',
 'advantage',
 'adventur',
 'adventure',
 'adventures',
 'adversari',
 'adverti',
 'advi',
 'advic',
 'advice',
 'affair',
 'affect',
 'afflict',
 'affluent',
 'afford',
 'afghanistan',
 'afraid',
 'africa',
 'african',
 'africanamerican',
 'afro',
 'aftercreditsst',
 'afterlif',
 'afterlife',
 'aftermath',
 'afternoon',
 'ag',
 'age',
 'agediff',
 'agenc',
 'agency',
 'agenda',
 'agent',
 'agents',
 'ages',
 'aggress',
 'aggressionbyanim',
 'ago',
 'agr',
 'agrees',
 'ahead',
 'aid',
 'aidan',
 'aidangillen',
 'aidanquinn',
 'ail',
 'aim',
 'aimeegarcia',
 'air',
 'airborn',
 'aircraft',
 'airforc',
 'airplan',
 'airplanecrash',
 'airport',
 'aisle',
 'aka',
 'akivagoldsman',
 'akshaykumar',
 'al',
 'alabama',
 'alan',
 'alanalda',
 'alanarkin',
 'alancum',
 'alanpark',
 'alanrickman',
 'alantudyk',
 'alarm',
 'alaska',
 'alaskan',
 'albert',
 'albertbrook',
 'albertfinney',
 'albertr',
 'alcatraz',
 'alcohol',
 'alcoholabu',
 'alcoholic',
 'aldou',
 'alec',
 'alecbaldwin',
 'alecguin',
 'alejandroamenábar',
 'alejandrogonzáleziñárritu',
 'alessandronivola',
 'alex',
 'alexanderpayn',
 'alexandersiddig',
 'alexanderskarsgård',
 'alexandradaddario',
 'alexandramarialara',
 'alexandreaja',
 'alexapenavega',
 'alexia',
 'alexisbledel',
 'alexkendrick',
 'alexpettyf',
 'alexproya',
 'alfi',
 'alfonsocuarón',
 'alfredhitchcock',
 'alfredmolina',
 'alfrewoodard',
 'algeria',
 'ali',
 'aliashawkat',
 'alibi',
 'alic',
 'alice',
 'alicebraga',
 'alicekrig',
 'aliciasilverston',
 'aliciavikand',
 'aliciawitt',
 'alien',
 'aliencontact',
 'alieninfect',
 'alieninva',
 'alienlife',
 'alienphenomenon',
 'alienplanet',
 'aliens',
 'alik',
 'alike',
 'alilart',
 'alisonbri',
 'alisonlohman',
 'aliv',
 'alive',
 'alleg',
 'allegedli',
 'allen',
 'alli',
 'allianc',
 'allies',
 'allisonjanney',
 'allisonmil',
 'allow',
 'allur',
 'ally',
 'almási',
 'alon',
 'alongsid',
 'alp',
 'alpacino',
 'alpha',
 'alreadi',
 'alt',
 'altar',
 'alter',
 'altern',
 'alternat',
 'alternatedimen',
 'alternatehistori',
 'alvin',
 'alway',
 'alysonhannigan',
 'alyssa',
 'alzheimer',
 'amadeo',
 'amanda',
 'amandabyn',
 'amandacrew',
 'amandadetm',
 'amandapeet',
 'amandaseyfri',
 'amateur',
 'amaz',
 'amazon',
 'ambassador',
 'amber',
 'amberheard',
 'ambertamblyn',
 'ambervalletta',
 'ambigu',
 'ambit',
 'ambiti',
 'ambition',
 'ambitions',
 'ambul',
 'ambush',
 'amelia',
 'america',
 'americaferrera',
 'american',
 'americanabroad',
 'americancivilwar',
 'americandream',
 'americanfootb',
 'americanfootballplay',
 'ami',
 'amid',
 'amidst',
 'amitabhbachchan',
 'amiti',
 'amnesia',
 'amor',
 'amp',
 'amsterdam',
 'amu',
 'amusementpark',
 'amy',
 'amyadam',
 'amyheckerl',
 'amyirv',
 'amypoehl',
 'amyryan',
 'amysmart',
 'ana',
 'anakin',
 'analyst',
 'anandtuck',
 'anarchiccomedi',
 'anarchist',
 'ancient',
 'ancientchina',
 'ancientegypt',
 'ancientgreec',
 'ancientrom',
 'ancientworld',
 'anderson',
 'andi',
 'andiemacdowel',
 'andreamartin',
 'andrebraugh',
 'andrew',
 'andrewadamson',
 'andrewdavi',
 'andreweaton',
 'andrewflem',
 'andrewgarfield',
 'andrewlazar',
 'andrewmacdonald',
 'andrewniccol',
 'andrewstanton',
 'android',
 'andrzejbartkowiak',
 'andy',
 'andydick',
 'andyfickman',
 'andygarcía',
 'andylau',
 'andysamberg',
 'andyserki',
 'andytenn',
 'angel',
 'angela',
 'angelabassett',
 'angeles',
 'angelinajoli',
 'angelo',
 'angels',
 'anger',
 'angl',
 'angri',
 'angst',
 'angusmacfadyen',
 'ani',
 'anilkapoor',
 'anim',
 'animal',
 'animalattack',
 'animalhorror',
 'animals',
 'animalsidekick',
 'anjelicahuston',
 'ann',
 'anna',
 'annabel',
 'annabellasciorra',
 'annabethgish',
 'annafari',
 'annafriel',
 'annakendrick',
 'annamariahorsford',
 'annapaquin',
 'annasophiarobb',
 'anndowd',
 'anne',
 'annearch',
 'annebancroft',
 'annefletch',
 'annehathaway',
 'annehech',
 'annemoss',
 'annetteben',
 'anni',
 'annie',
 'anniecorley',
 'annihil',
 'anniversari',
 'announc',
 'annoy',
 'annual',
 'anonym',
 'anonymouslett',
 'anoth',
 'answer',
 'answers',
 'ant',
 'antarct',
 'antarctica',
 'antholog',
 'anthoni',
 'anthonyanderson',
 'anthonybregman',
 'anthonyedward',
 'anthonyheald',
 'anthonyhopkin',
 'anthonylapaglia',
 'anthonymacki',
 'anthonyquayl',
 'anthonyquinn',
 'anthonyrusso',
 'anthropomorph',
 'anti',
 'antic',
 'anticip',
 'antics',
 'antihero',
 'antiqu',
 'antisemit',
 'antiterror',
 'antoinefuqua',
 'anton',
 'antoncorbijn',
 'antoni',
 'antonio',
 'antoniobandera',
 'antonyelchin',
 'anxieti',
 'anyon',
 'anyth',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apes',
 'apocalyp',
 'apocalypse',
 'apocalypt',
 'apollo',
 'apostl',
 'appalachia',
 'appar',
 'appeal',
 'appear',
 'appears',
 'appl',
 'apple',
 'appli',
 'appoint',
 'appreci',
 'apprehend',
 'apprent',
 'approach',
 'approaches',
 'april',
 'aquarium',
 'arab',
 'arabian',
 'arbitrarylaw',
 'arch',
 'archaeologist',
 'archeolog',
 'archer',
 'archeri',
 'archiepanjabi',
 'architect',
 'archiv',
 'arci',
 'arctic',
 'arduou',
 'area',
 'aren',
 'arena',
 'argentina',
 'argentinian',
 'argument',
 'ari',
 'ariellekebbel',
 'arigraynor',
 'aristocrat',
 'arizona',
 'arlo',
 'arm',
 'armageddon',
 'armandass',
 'armi',
 'armiehamm',
 'arminmueller',
 'armor',
 'arms',
 'armsdeal',
 'armstrong',
 'army',
 'armyanbernstein',
 'arnold',
 'arnoldkopelson',
 'arnoldrifkin',
 'arnoldschwarzenegg',
 'arnonmilchan',
 'arrang',
 'arrangedmarriag',
 'array',
 'arrest',
 'arrested',
 'arriv',
 'arrive',
 'arrives',
 'arrog',
 'arson',
 'art',
 'artgalleri',
 'arthur',
 'arthurfr',
 'arthurp',
 'articl',
 'artifact',
 'artifici',
 'artificialinsemin',
 'artificialintellig',
 'artist',
 'artists',
 'artlinson',
 'arts',
 'artthief',
 'asabutterfield',
 'asgard',
 'ash',
 'ashley',
 'ashleygreen',
 'ashleyjudd',
 'ashleyscott',
 'ashleytisd',
 'ashram',
 'ashtonholm',
 'ashtonkutch',
 'asia',
 'asian',
 'asid',
 'ask',
 'asleep',
 'aspect',
 'asperger',
 'aspir',
 'aspirations',
 'ass',
 'assassin',
 'assassination',
 'assassins',
 'assault',
 'assaultrifl',
 'assembl',
 'assign',
 'assignment',
 'assist',
 'assistant',
 'associ',
 'assort',
 'assum',
 'asteroid',
 'astronaut',
 'asylum',
 'atheist',
 'athlet',
 'atlant',
 'atlanta',
 'atlanticocean',
 'atom',
 'atomegoyan',
 'atomicbomb',
 'atroc',
 'attach',
 'attack',
 'attacks',
 'attempt',
 'attemptedmurd',
 'attempttoescap',
 'attend',
 'attent',
 'attention',
 'attic',
 'attitud',
 'attorney',
 'attract',
 'auction',
 'audienc',
 'audit',
 'audrey',
 'audreytaut',
 'august',
 'aunjanueelli',
 'aunt',
 'austin',
 'australia',
 'australian',
 'australianoutback',
 'austria',
 'austrian',
 'author',
 'authorities',
 'authority',
 'autism',
 'autist',
 'auto',
 'autobiograph',
 'autobiographi',
 'autobot',
 'automaton',
 'automobilerac',
 'autoritianeduc',
 'autumn',
 'avaduvernay',
 'avail',
 'aveng',
 'averag',
 'averil',
 'avert',
 'averybrook',
 'aviat',
 'aviv',
 'avoid',
 'await',
 'awak',
 'awaken',
 'awar',
 'award',
 'away',
 'awe',
 'awesom',
 'awkward',
 'awri',
 'awry',
 'ax',
 'axe',
 'axel',
 'ba',
 'babe',
 'babi',
 'baby',
 'babysitt',
 'bachelor',
 'backdrop',
 'background',
 'backgrounds',
 'backpack',
 'backstag',
 'backup',
 'backward',
 'backwat',
 'backwood',
 'backyard',
 'bad',
 'badboss',
 'badg',
 'badli',
 'badluck',
 'badmother',
 'bag',
 'bagoverhead',
 'bahama',
 'bahari',
 'bail',
 'baileemadison',
 'bailey',
 'baker',
 'balanc',
 'balance',
 'balboa',
 'ball',
 'ballet',
 'balloon',
 'ballroom',
 'baltimor',
 'bammargera',
 'ban',
 'band',
 'bandit',
 'bandits',
 'bangkok',
 'banish',
 'bank',
 'banker',
 'bankrobb',
 'bankrobberi',
 'bankrupt',
 'bannon',
 'bar',
 'barbara',
 'barbarabroccoli',
 'barbaradefina',
 'barbarahershey',
 'barbarian',
 'barbershop',
 'barbetschro',
 'barbrastreisand',
 'barcelonaspain',
 'bare',
 'barfight',
 'bargain',
 'barn',
 'barnabythompson',
 'barney',
 'baron',
 'barri',
 'barricad',
 'barriem',
 'barrier',
 'barrio',
 'barry',
 'barrylevinson',
 'barrymendel',
 'barrymore',
 'barrypepp',
 'barrysonnenfeld',
 'bars',
 'barsandrestaur',
 'bart',
 'base',
 'baseb',
 'baseball',
 'basedonarticl',
 'basedoncartoon',
 'basedonchildren',
 'basedoncomicbook',
 'basedonfairyt',
 'basedonfilm',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonshortstori',
 'basedonstagemu',
 'basedontrueev',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basement',
 'basket',
 'basketb',
 'basketball',
 'bat',
 'bathhou',
 'bathroom',
 'bathroomhumor',
 'bathtub',
 'batman',
 'battalion',
 'battl',
 'battle',
 'battleassign',
 'battlefield',
 'baxter',
 'bay',
 'bazil',
 'bazluhrmann',
 'bdsm',
 'beach',
 'beachhou',
 'beam',
 'bear',
 'beard',
 'beast',
 'beasts',
 'beat',
 'beaten',
 'beau',
 'beaubridg',
 'beauflynn',
 'beauti',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'beautycontest',
 'becam',
 'becau',
 'becca',
 'becki',
 'beckon',
 'becom',
 'becominganadult',
 'bed',
 'bedroom',
 'bee',
 'beer',
 'beethoven',
 'befor',
 'befriend',
 'beg',
 'began',
 'beggar',
 'begin',
 'begins',
 'beguil',
 'behavior',
 'behead',
 'beij',
 'belgium',
 'belief',
 'beliefs',
 'believ',
 'bell',
 'bella',
 'belong',
 'belov',
 'beloved',
 'belt',
 'ben',
 'benaffleck',
 'benbarn',
 'benchaplin',
 'bend',
 'beneath',
 'benedictcumberbatch',
 'benefactor',
 'benefit',
 'benfost',
 'bengazzara',
 'beniciodeltoro',
 'benitomussolini',
 'benjamin',
 'benjaminbratt',
 'benkingsley',
 'benmendelsohn',
 'bennet',
 'bennett',
 'bennofürmann',
 'benstassen',
 'benstil',
 'bent',
 'benwhishaw',
 'beret',
 'berg',
 'berlin',
 'berndeich',
 'berni',
 'berniemac',
 'besid',
 'best',
 'bestfriend',
 'bestfriendsinlov',
 'bet',
 'beth',
 'bethani',
 'betray',
 'betrayal',
 'betroth',
 'betsyrussel',
 'bettemidl',
 'better',
 'betti',
 'bettythoma',
 'bettywhit',
 'beverli',
 'beverlyd',
 'beverlyhil',
 'beyoncéknowl',
 'bi',
 'bia',
 'bianca',
 'bibl',
 'biblic',
 'bicker',
 'bicycl',
 'bid',
 'big',
 'bigfamili',
 'bigger',
 'biggest',
 'bigotri',
 'bike',
 'biker',
 'bikini',
 'bilbo',
 'billard',
 'billbellami',
 'billcondon',
 'billduk',
 'billewoodruff',
 'billhad',
 'billi',
 'billiewhitelaw',
 'billion',
 'billionair',
 'billmoseley',
 'billmurray',
 'billnighi',
 'billpaxton',
 'billpullman',
 'billy',
 'billybobthornton',
 'billyburk',
 'billyconnolli',
 'billycrudup',
 'billycryst',
 'billydeewilliam',
 'billyraycyru',
 'billywild',
 'billyzan',
 'bind',
 'bink',
 'binocular',
 'bio',
 'biograph',
 'biographi',
 'biolog',
 'biologicalweapon',
 'biologist',
 'biopic',
 'bird',
 'birth',
 'birthday',
 'bisexu',
 'bishop',
 'bit',
 'bitch',
 'bite',
 'bitten',
 'bitter',
 'bittersweet',
 'bizarr',
 'black',
 'blackandwhit',
 'blackbeard',
 'blackhol',
 'blackhumor',
 'blackmag',
 'blackmail',
 'blackmen',
 'blackout',
 'blackpeopl',
 'blacksmith',
 'blade',
 'blairunderwood',
 'blake',
 'blakeedward',
 'blakel',
 'blame',
 'blanchard',
 'blart',
 'blast',
 'blaxploit',
 'blaze',
 'bleek',
 'blend',
 'bless',
 'blind',
 'blinddat',
 'blindnessandimpairedvi',
 'blink',
 'bliss',
 'blizzard',
 'block',
 'blockbust',
 'blofeld',
 'blog',
 'blond',
 'blonde',
 'blood',
 'bloodi',
 'bloodsplatt',
 'bloodthirsti',
 'bloom',
 'blossom',
 'blow',
 'blowjob',
 'blown',
 'blu',
 'blue',
 'blunt',
 'blur',
 'bly',
 'blythedann',
 'board',
 'boardingschool',
 'boat',
 'boatcha',
 'boazyakin',
 'bob',
 'bobbalaban',
 'bobbi',
 'bobby',
 'bobbycannav',
 'bobbyfarrelli',
 'bobclark',
 'bobgal',
 'bobgunton',
 'bobhoskin',
 'bobweinstein',
 'bodi',
 'bodies',
 'body',
 'bodyexchang',
 'bodyguard',
 'bodyhorror',
 'bohemian',
 'bokeemwoodbin',
 'bold',
 'bollywood',
 'bolt',
 'bomb',
 ...]

In [68]:
from sklearn.metrics.pairwise import cosine_similarity

In [69]:
similarity = cosine_similarity(vectors)

In [70]:
similarity

array([[1.        , 0.06625892, 0.06974858, ..., 0.03849002, 0.        ,
        0.        ],
       [0.06625892, 1.        , 0.05134962, ..., 0.02125256, 0.        ,
        0.02409813],
       [0.06974858, 0.05134962, 1.        , ..., 0.02237187, 0.        ,
        0.        ],
       ...,
       [0.03849002, 0.02125256, 0.02237187, ..., 1.        , 0.03774257,
        0.02099803],
       [0.        , 0.        , 0.        , ..., 0.03774257, 1.        ,
        0.06419407],
       [0.        , 0.02409813, 0.        , ..., 0.02099803, 0.06419407,
        1.        ]])

In [80]:
similarity.shape

(4806, 4806)

In [71]:
def recommend(movie):
    movie_index = new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:11]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [79]:
recommend('Avatar')

Aliens
Aliens vs Predator: Requiem
Independence Day
Falcon Rising
Battle: Los Angeles
Titan A.E.
Predators
Meet Dave
U.F.O.
Small Soldiers