In [1]:
import numpy as np
import pandas as pd
import ast

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies = movies.merge(credits,on='title')

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
#genres
#id
#keywords
#title
#overview
#cast
#crew
#production_companies
movies=movies[['genres','id','keywords','title','overview','cast','crew','production_companies']]

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   genres                4809 non-null   object
 1   id                    4809 non-null   int64
 2   keywords              4809 non-null   object
 3   title                 4809 non-null   object
 4   overview              4806 non-null   object
 5   cast                  4809 non-null   object
 6   crew                  4809 non-null   object
 7   production_companies  4809 non-null   object
dtypes: int64(1), object(7)
memory usage: 338.1+ KB

In [9]:
movies.isnull().sum()

genres                  0
id                      0
keywords                0
title                   0
overview                3
cast                    0
crew                    0
production_companies    0
dtype: int64

In [10]:
movies.dropna(inplace=True)

In [11]:
movies.head(1)

,genres,id,keywords,title,overview,cast,crew,production_companies
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""name"": ""Ingenious Film Partners"", ""id"": 289..."

In [12]:
def convert(obj):
    li = []
    for i in ast.literal_eval(obj):
        li.append(i['name'])
    return li

In [13]:
movies['genres'] = movies['genres'].apply(convert)

In [14]:
movies.head(1)

,genres,id,keywords,title,overview,cast,crew,production_companies
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""name"": ""Ingenious Film Partners"", ""id"": 289..."

In [15]:
movies['keywords'] = movies['keywords'].apply(convert)

In [16]:
movies['production_companies'] = movies['production_companies'].apply(convert)

In [17]:
def convert2(obj):
    li = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 5:
            li.append(i['name'])
            counter+=1
        else:
            break
    return li

In [18]:
movies['cast'] = movies['cast'].apply(convert2)

In [19]:
def convert3(obj):
    li = []
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            li.append(i['name'])
        if i['job']=='Producer':
            li.append(i['name'])
        if i['job']=='Writer':
            li.append(i['name'])
        if len(li)==3:
            break
    return li

In [20]:
movies['crew'] = movies['crew'].apply(convert3)

In [21]:
movies.head(2)

,genres,id,keywords,title,overview,cast,crew,production_companies
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[James Cameron, James Cameron, James Cameron]","[Ingenious Film Partners, Twentieth Century Fo..."
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Gore Verbinski, Jerry Bruckheimer, Eric McLeod]","[Walt Disney Pictures, Jerry Bruckheimer Films..."

In [22]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [23]:
movies.head(1)

,genres,id,keywords,title,overview,cast,crew,production_companies
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[James Cameron, James Cameron, James Cameron]","[Ingenious Film Partners, Twentieth Century Fo..."

In [24]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])
movies['production_companies'] = movies['production_companies'].apply(lambda x:[i.replace(" ","") for i in x])

In [25]:
movies.head(1)

,genres,id,keywords,title,overview,cast,crew,production_companies
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...","[JamesCameron, JamesCameron, JamesCameron]","[IngeniousFilmPartners, TwentiethCenturyFoxFil..."

In [26]:
movies['tags'] = movies['genres']+movies['keywords']+movies['overview']+movies['cast']+movies['crew']+movies['production_companies']

In [27]:
new_df = movies[['id','title','tags']]

In [28]:
new_df.head()

,id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."

In [29]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x).lower())

<ipython-input-29-7892bcddd1ac>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x).lower())

In [30]:
new_df.head()

,id,title,tags
0,19995,Avatar,action adventure fantasy sciencefiction cultur...
1,285,Pirates of the Caribbean: At World's End,adventure fantasy action ocean drugabuse exoti...
2,206647,Spectre,action adventure crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,action crime drama thriller dccomics crimefigh...
4,49529,John Carter,action adventure sciencefiction basedonnovel m...

In [31]:
def containsNumber(value):
    for c in value:
        if c.isdigit():
            return True
    return False

In [32]:
import nltk

In [33]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [34]:
def stem(text):
    y=[]
    for i in text.split():
        if not containsNumber(i):
            y.append(ps.stem(i))
    return " ".join(y)

In [35]:
new_df['tags']=new_df['tags'].apply(stem)

<ipython-input-35-402dd7cb6b10>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [36]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [37]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [38]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [39]:
vectors.shape

(4806, 5000)

In [40]:
cv.get_feature_names()[20:30]

['accus',
 'ace',
 'achiev',
 'act',
 'action',
 'activ',
 'activist',
 'activities',
 'actor',
 'actress']

In [41]:
from sklearn.metrics.pairwise import cosine_similarity

In [42]:
similarity = cosine_similarity(vectors)

In [43]:
similarity

array([[1.        , 0.06762522, 0.07024394, ..., 0.0412393 , 0.        ,
        0.        ],
       [0.06762522, 1.        , 0.05066946, ..., 0.02231054, 0.        ,
        0.02533473],
       [0.07024394, 0.05066946, 1.        , ..., 0.02317449, 0.        ,
        0.        ],
       ...,
       [0.0412393 , 0.02231054, 0.02317449, ..., 1.        , 0.04307305,
        0.02317449],
       [0.        , 0.        , 0.        , ..., 0.04307305, 1.        ,
        0.0733674 ],
       [0.        , 0.02533473, 0.        , ..., 0.02317449, 0.0733674 ,
        1.        ]])

In [44]:
similarity.shape

(4806, 4806)

In [49]:
def recommend(movie):
    movie_index = new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:11]
    
    recommended_movies=[]
    for i in movies_list:
        recommended_movies.append(new_df.iloc[i[0]].title)
        
    return recommended_movies

In [50]:
recommend('Life of Pi')

['Silver Medalist',
 'Sahara',
 'Dragonball Evolution',
 'Crouching Tiger, Hidden Dragon',
 'Deep Rising',
 'Two Brothers',
 'The Blue Lagoon',
 'X-Men Origins: Wolverine',
 'Bloody Sunday',
 'Redemption Road']